html {
    background: repeating-linear-gradient(
         25deg,
        #606dbc,
         #606dbc 120px,
        #465298 150px,
        #465298 200px
    );
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: rgb(0, 51, 0);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#uctext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#uc {
    height: 50px;
    width: 50px;
}

#ucdiv {
    white-space: nowrap;
}

#ucdiv > *{
    display: inline-block;
}

a:link, a:visited {
    background-color: #e06715;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: red;
}

ul {
    list-style-type: none;
}

.container {
    margin: auto;
    width: 50%;
    padding: 5px;
}   